<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>写文章 - 信息中心开发团队博客</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/media/css/common.css"/>
	</head>
	<body class="main-layout">
		{% include "nav-bar.tpl" %}
		<div class="content-layout">
		<div class="article-summary-layout">
		    <div class="article-writing-form">
                        <form action="/article/write" method="POST">
			    <div class="input">
				<label class="input-label">*标题: </label>
			        <input type="text" name="title" class="input-field input-field-title" />
			    </div>
			    <div class="input">
				<label class="input-label">*正文: </label>
			        <textarea type="text" name="content" class="input-field input-field-content"></textarea>
			    </div>
			    <div class="submit">
				<span class="input-description">带 * 的输入项为必填项</span>
			        <input type="submit" value="提交" class="submit-button"/>
		            </div>
		        </form>
	            </div>
		</div>
	        </div>
	</body>
</html>
