<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>写文章 - 信息中心开发团队博客</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/media/css/common.css"/>
	</head>
	<body class="main-layout">
		{% include "nav-bar.tpl" %}
		<div class="content-layout">
		<div class="article-summary-layout">
		    <div class="article-writing-form">
                        <form action="/article/write" method="POST">
			    <div class="input input-title">
				<label class="label"><span class="input-prompt">*&nbsp;&nbsp;</span>标题: </label>
			        <input type="text" name="title" class="input-field input-field-title" />
			    </div>
			    <div class="input">
				<label class="label"><span class="input-prompt">*&nbsp;&nbsp;</span>正文: </label>
			        <textarea type="text" name="content" class="input-field input-field-content"></textarea>
			    </div>
			    <p class="description">
			        1、 带 <span class="input-prompt">*</span> 的输入项为必填项<br/>
				2、 Some other tips
			    </p>
			    <div class="submit">
			        <input type="submit" value="提交" class="submit-button"/>
		            </div>
		        </form>
	            </div>
		</div>
	        </div>
	</body>
</html>
